.crowdsale-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;

  .modal {
    background: white;
    border-radius: 10px;
    height: 80%;
    max-height: 615px;
    min-height: 480px;
    min-width: 830px;
    padding: 30px 20px 0;
    position: relative;
    width: 45%;

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .description {
      color: $text-color;
      font-size: 13px;
      line-height: 24px;
      margin-bottom: 25px;
    }

    .close-button {
      i {
        &.icon {
          &:before {
            content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gEDETQvtZKRngAAAaJJREFUSMetlcFOwkAURV9NXLjURUNwBbToTlJ04ULDJ7jSjd+hbvkEl3yC/2L8CRODBklMQAwJHhdO8VHeQFu5SdN0+jq3b+6dOyIiAgRAD2i6ZymD9DvgBLjXLwLgmV98AlFZEjdfAkzdfE/pYI9FTIBWSYJzltEVoOk6yBKFBQn2DYIPoJoWRG5ijbFr3auR0qADzDLf94HKvNBdLYNoBMSWGRTBsdHBEKiZPweErgMNrxmAthI5xQDYy+OO0TozeER+Aeq5vA7Eno5CJfK3IXIll/3VWjcM142BW4PgT+QiO9ddRwZRFu9ekQsQWmbQBLuyCQA3HpKrTRFUjY2mNQr/m6ZnhsgYrmutSoZVBIlHg0uPvRuFjgkXFVOfyM4Mlr3jvPukY3TQB2qZOsveIyDJE9ezPDvZadAwlm7ZDEoDXxZV1mgX+7JuwQwekQdAfdUaq2RIjI4mQKQP/alxHuyVSIaJ4brDLRG5FpFtVf8qIu0gCIZFSIIgeBORUxH5UsM7InKR/sVj4bj2L1+kXPeQLejOD/3yEZTeD4C7dPwHuOyCT59BxPUAAAAASUVORK5CYII=');
          }
        }
      }
      padding: 15px;
      position: absolute;
      right: -40px;
      top: -40px;
      z-index: 400000;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.home {
  .crowdsale-modal {
    .modal {
      max-height: 360px;
    }
  }
}
