.steps {
  pre {
    display: block;
    overflow: auto;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .button-container {
    margin: 40px 0;
  }

  .value {
    margin-bottom: 10px;
  }

  .left,
  .right,
  .item {
    margin-bottom: 25px;
  }

  .item {
    &:first-child {
      margin-top: 10px;
    }
  }

  .publish-title {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-right: 5px;
    padding-left: 35px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;

    &-container {
      position: relative;
      margin-bottom: 25px;
      line-height: 20px;

      &:after {
        border-bottom: 1px dashed #eee;
        content: "";
        height: 1px;
        left: 0;
        margin-top: -1px;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 1;
      }
    }

    &:before {
      $circle-dimensions: 24px;

      background-color: $secondary-color;
      border-radius: 50%;
      color: #fff;
      content: attr(data-step);
      height: $circle-dimensions;
      left: 0;
      line-height: $circle-dimensions;
      margin-top: -#{ $circle-dimensions / 2 };
      position: absolute;
      text-align: center;
      top: 50%;
      width: $circle-dimensions;
      z-index: 2;
    }
  }

  .button {
    padding-left: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAMFBMVEX///////////////////////////////////////////////////////////////9Or7hAAAAAD3RSTlMAPT5BSUpRUt3f5ufp6vUxUI2NAAAASUlEQVR42rWROw7AMAxC3abN3+b+t80WZYAxb/STsAR2kr0+xnAgEhMVwryhTLpjvg5CFOugTCXc/sGj1PM7d12irl0Plb3taRdkbQmzeFkz0wAAAABJRU5ErkJggg==);
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    cursor: pointer;

    &.no_image {
      padding-left: 15px;
      background-image: none;
      background-position: 0 0;
      background-size: auto;
    }
  }
}
