.steps-navigation {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding: 30px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .step-navigation {
    color: $text-color;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding-left: 36px;
    position: relative;
    text-transform: uppercase;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}):before {
        content: "#{$i}";
      }
    }

    &:before {
      $circle-dimensions: 30px;

      background-color: fade-out($text-color, 0.6);
      border-radius: 50%;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      height: $circle-dimensions;
      left: 0;
      line-height: $circle-dimensions;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: $circle-dimensions;
    }

    &_active {
      color: #333;

      &:before {
        background-color: $primary-color;
      }
    }
  }
}
