.steps {
  .radios-inline {
    height: 36px;
    margin-bottom: 15px;
    vertical-align: middle;

    input {
      display: none;

      &:checked + .title:before {
        background-color: $secondary-color;
      }
    }
  }

  .radio-inline {
    cursor: pointer;
    display: table-cell;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;

    &:last-child {
      margin-bottom: 30px;
    }

    .title {
      display: block;
      position: relative;

      &:before {
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: 0 0 0 1px #cdd5da;
        content: '';
        height: 10px;
        left: -29px;
        margin-top: -8.5px;
        position: absolute;
        top: 50%;
        width: 10px;
      }
    }
  }
}
