.reserved-tokens {
  &-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &-container {
    margin-bottom: 40px;
  }
  &-radio {
    &-container {
      display: table;
      height: 36px;
      margin-bottom: 15px;
      vertical-align: middle;
      width: 100%;

      &-item {
        display: inline;
        line-height: 36px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
  &-input-property {
    width: 33%;

    &-left {
      display: table-cell;
      padding-right: 5px;
      vertical-align: top;
    }

    &-middle {
      display: table-cell;
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: top;
    }

    &-right {
      display: table-cell;
      padding-left: 5px;
      vertical-align: top;
    }
  }

  &-input-container {
    display: table;
    margin-bottom: 20px;
  }

  &-item {
    display: table-cell;
    height: 60px;
    line-height: 60px;
    width: 33%;

    &-left {
      padding-right: 5px;
    }

    &-middle {
      padding-left: 5px;
      padding-right: 5px;
    }

    &-right {
      padding-left: 5px;
    }

    &-empty {
      display: table-cell;
      line-height: 60px;
      width: 56px;
    }

    &-container {
      border-top: 1px solid #eee;
      display: table;
      width: 100%;

      &-last {
        border-bottom: 1px solid #eee;
      }

      &-inner {
        display: table;
        width: 100%;
      }
    }
  }

  &.read-only {
    &:not(:nth-child(1)) {
      margin-top: 30px;
    }
    color: #56616d;
    font-family: monospace;

    .reserved-tokens-item {
      width: 25%;
    }

    .reserved-tokens-item-left {
      width: 50%;
    }
  }
}
