html,
body {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #fdfdfd;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 1000px;
    padding: 0 0 $footer-height;
    position: relative;
    width: 100%;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 960px;
}

.hidden {
    overflow: hidden;
}

.notdisplayed {
    display: none;
}

.left {
    width: 46%;
    float: left;
}

.right {
    width: 46%;
    float: right;
}

.item-remove {
    @include image-2x('../images/delete@2x.png', 12px, 12px);
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: right;
    height: 12px;
    width: 12px;
}

.copy {
    @include image-2x('../images/copy@2x.png', 12px, 12px);
    background-image: url(../images/copy.png);
    background-repeat: no-repeat;
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    float: right;
}

.copy-field-container {
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
    padding-top: 30.5px;
}

.copy-area-container {
    display: table-cell;
    padding-left: 10px;
}

.display-container {
    display: table-cell;
    width: 100%;
}

.input-block-container {
    display: table;
    width: 100%;
}

.section-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

a {
    color: $tertiary-color;
}