.footer {
  @extend %full-width;
  background-color: $tertiary-color;
  bottom: 0;
  color: #cadde6;
  height: $footer-height;
  position: absolute;

  .container {
    position: relative;
  }

  .footer-text {
    color: #cadde6;
    font-size: 13px;
    font-weight: 600;
    line-height: $footer-height;
    text-align: center;
  }
  a {
    color: #cadde6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
