@keyframes fadeOut {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: .2;
    transform: scale(0.3);
  }
}

.loading {
  display: flex;
  justify-content: space-between;
  left: 50%;
  margin: -30px 0 0 -111.5px;
  padding-top: 50px;
  position: absolute;
  top: 50%;
  width: 206px;

  &:before {
    background-position: 0 0;
    content: '';
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 206px;
  }

  &-container {
    background-color: fade-out($tertiary-color, 0.2);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000000;
  }

  &-text-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 206px;
    margin: -30px 0 0 -111.5px;
    padding-top: 45px;
  }

  &-text {
    color: white;
    font-weight: bold;
    text-align: justify;
    word-spacing: 2px;
    width: 100%;
    font-size: 14.2px;
  }

  &-progress {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 206px;
    margin: -30px 0 0 -111.5px;
    padding-top: 70px;
  }

  &-i {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: fadeOut;
    animation-timing-function: linear;
    opacity:.2;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;

    &:nth-child(2) {
      animation-delay: .1s;
    }

    &:nth-child(3) {
      animation-delay: .2s;
    }

    &:nth-child(4) {
      animation-delay: .3s;
    }

    &:nth-child(5) {
      animation-delay: .4s;
    }

    &:nth-child(6) {
      animation-delay: .5s;
    }
  }
}