@keyframes paymentLoading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.payment-process {
  padding: 30px;

  &-qr {
    display: block;
    width: 140px;
    margin: 0 auto 20px;
  }

  &-description {
    margin-bottom: 10px;
    color: $text-color;
    line-height: 18px;
    font-size: 13px;
  }

  &-hash {
    margin-bottom: 15px;
    color: $tertiary-color;
    word-break: break-all;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
  }

  &-copy,
  &-see {
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    color: $tertiary-color;
    text-decoration: none;
    line-height: 14px;
    font-size: 13px;

    &:hover {
      text-decoration: underline;
    }
  }

  &-copy {
    @include image-2x('../images/copy@2x.png', 14px, 14px);
    background-image: url(../images/copy.png);
    background-size: 14px 14px;
  }

  &-see {
    background-image: url(../images/see.png);
    background-size: 14px 10px;
  }

  &-loader {
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;
    color: $text-color;
    font-size: 13px;

    &:before {
      @include image-2x('../images/payment-loader@2x.png');
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: paymentLoading;
      animation-timing-function: linear;
      background-image: url(../images/payment-loader.png);
      content: "";
      height: 14px;
      left: 0;
      margin-top: -7px;
      position: absolute;
      top: 50%;
      width: 14px;
    }
  }

  &-notation {
    border-radius: 5px;
    border: 1px solid $tertiary-color;
    padding: 10px;
    background-color: rgba($secondary-color, 0.05);
    color: $tertiary-color;
    max-width: 185px;

    &-title {
      margin-bottom: 5px;
      padding-left: 28px;
      background-image: url(../images/download.png);
      background-size: 18px 16px;
      background-repeat: no-repeat;
      background-position: left center;
      line-height: 16px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
    }

    &-description {
      line-height: 18px;
      font-size: 12px;
      word-wrap: break-word;
    }
  }

  &-success {
    @include image-2x('../images/payment-success@2x.png');
    width: 140px;
    height: 146px;
    margin: 0 auto 20px;
    background-image: url(../images/payment-success.png);
  }
}
